<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ブックマーク一覧</ion-title>
  </ion-navbar>
  <ion-searchbar placeholder="サークル名・スペース名・説明文から検索できます" (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!circles.length" class="loading">
    ブックマークがありません。
  </div>

  <div class="wrapper">
  <ion-card *ngFor="let circle of visibleCircles">
    <div class="card-head">
      <img src={{circle.circleCutImage.url}} *ngIf="circle.circleCutImage.url" />
      <div *ngIf="!circle.circleCutImage.url" class="noimage">
        noimage
      </div>
    </div>
    <ion-card-content>
      <ion-card-title>
        {{circle.name}}:<br>
      </ion-card-title>
      <p style="text-align: center">
        {{circle.spaces.join(', ')}}
      </p>
      <p>
        {{circle.genreFreeFormat || '説明文なし'}}
      </p>
      <p style="text-align: right">
        {{circle.penName}}
      </p>
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>
