circle-card {

  ion-card {
    position:relative;
    padding-bottom: 100px;

    @media (min-width: 640px) {
      height: 90%;
    }

    ion-card-content {
      margin: 0 5px;

      span.space-tag {
        background-color: #f0f0f0;
        padding: 3px 4px;
        margin: 0 3px 0 0;
      }
    }

    .button-area{
      position: absolute;
      bottom:  0;
      padding: 2rem;
      width: 100%;
    }
    .card-head {
      width: 50vw;
      height: 50vw;
      margin: 2rem auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .noimage{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 1.6px;
        color: #333;
        font-size: 2rem;
      }

    }

  }

  @media (min-width: 640px) {
    ion-card.card-md{
        width: 360px;
        margin: 20px 10px 30px;

        .card-head {
          width: 360px;
          height: 360px;
          margin: 2rem auto;
        }
      }
  }
}
