<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>全サークル一覧</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar placeholder="サークル名・スペース名・説明文から検索できます" (ionInput)="getItems($event)"></ion-searchbar>
  <div *ngIf="!circles.length" class="loading">
    <ion-icon class="sync-icon" name="sync"></ion-icon>
  </div>

  <div class="wrapper">
  <ion-card *ngFor="let circle of visibleCircles">
    <div class="card-head">
      <img src={{circle.circleCutImage.url}} *ngIf="circle.circleCutImage.url" />
      <div *ngIf="!circle.circleCutImage.url" class="noimage">
        noimage
      </div>
    </div>
    <ion-card-content>
      <ion-card-title>
        {{circle.name}}:<br>
      </ion-card-title>
      <p style="text-align: center">
        {{circle.spaces.join(', ')}}
      </p>
      <p>
        {{circle.genreFreeFormat || '説明文なし'}}
      </p>
      <p style="text-align: right">
        {{circle.penName}}
      </p>
    </ion-card-content>
    <div class="button-area">
      <button ion-button icon-left outline (click)="onClickBookmark(circle.id)" *ngIf="!(bookmarks.indexOf(circle.id)+1)">
        <ion-icon name="star"></ion-icon>
        <div>&nbsp;ブックマーク&nbsp;</div>
      </button>
      <button ion-button icon-left (click)="onClickBookmark(circle.id)" *ngIf="bookmarks.indexOf(circle.id)+1">
        <ion-icon name="star"></ion-icon>
        <div>ブックマーク済</div>
      </button>
    </div>
  </ion-card>
  </div>

</ion-content>
